@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navegacion {
    height: 90px;
    font-size: 27px;
}

.fixieClass {
    background-color: rgb(222, 229, 238);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
}

.navBarUl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navBarUl li,
.navBarUl a {
    position: relative;
}

.menuDesplegable {
    font-size: 20px;
    display: none;
    position: absolute;
    width: 200px;
    background-color: rgb(222, 229, 238);
    opacity: 0;
    transition: 1s;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

.navBarUl li:hover .menuDesplegable {
    opacity: 1;
    display: block;
    color: black;
}

.active {
    color: red;
}

.off {
    color: black;
}

.contactoForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#texto {
    resize: vertical;
}

.galeriaGrid {
    position: relative;
    z-index: -10;
    margin: 20px;
    display: grid;
    height: auto;
    position: relative;
    top: 70px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: 200px;
}

.contactoDiv {
    display: flex;
}