@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.navegacion {
    height: 90px;
}

.fixieClass {
    background-color: rgb(222, 229, 238);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
}

.navBarUl {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.navBarUl>li {
    padding: 0 10px;
}

.menuDesplegable {
    font-size: 20px;
    visibility: hidden;
    position: absolute;
    width: 200px;
    background-color: rgb(222, 229, 238);
    opacity: 0;
    transition: 0.3s;
}

.navBarUl li:hover .menuDesplegable {
    visibility: visible;
    opacity: 1;
}

.navBarUl li,
.navBarUl a {
    position: relative;
}

.navBarUl a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navBarUl a:hover:after {
    width: 100%;
    left: 0;
}

.active {
    color: red;
}

.off {
    color: black;
}

/*-------------- fin de navegacion -------------*/
.contactoForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#texto {
    resize: vertical;
}

.galeriaGrid {
    position: relative;
    z-index: -10;
    margin: 20px;
    display: grid;
    height: auto;
    position: relative;
    top: 70px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: 200px;
}


/*------------- find de galeria -------------*/
.tituloContacto {
    display: flex;
    justify-content: center;
}

.contactoTargeta {
    display: flex;
    margin: auto;
    width: 800px;
    /* border: 1px solid black; */
}

.contactoTextoMapa {}

.contactoFormulario {
    /* border: 1px solid black; */
    padding-top: 150px;
    /* display: flex; */
    /* align-items: center; */
}

.contactoForm input {
    height: 40px;
    margin: 5px;
}

.contactoForm textarea {
    margin: 5px;
}

.contactoForm div {
    margin: 5px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.contactoForm div button {
    width: 80px;
    height: 40px;
    background-color: rgb(222, 229, 238);
}

/*--------- fin pagina de contacto ----------*/

.productosContenedor {
    /* border: 1px solid red; */
    width: 800px;
    display: block;
    margin: auto;
    padding-bottom: 40px;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.productosContenedor img {
    display: block;
    margin: auto;
    padding: 20px;
}

.productosContenedorInicio {
    background-color: rgb(222, 229, 238);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
}

.productosContenedorInicio h2 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

/*------------ fin pagina productos -----------*/

.contenedorInicio {
    width: 800px;
    margin: auto;
}

.inicioLogo {
    display: flex;
    justify-content: center;
}

.mySwiper {
    width: 300px;
}

/*---------------- fin pagina inicio ----------------*/
.contenedorHistoria {
    width: 800px;
    margin: auto;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.contenedorHistoria article section {
    padding: 20px 0;
}

.contenedorHistoria article section p {
    padding: 5px 0;
}

.tituloPrincipalHistoria {
    /* border: 1px solid red; */
    width: fit-content;
    display: block;
    margin: auto;
}