@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* scroll-behavior: smooth; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navegacion {
    height: 90px;
}

.fixieClass {
    background-color: rgb(222, 229, 238);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 2000;
    width: 100vw;
}

.navBarUl {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.navBarUl>li {
    padding: 0 10px;
}

.menuDesplegable {
    font-size: 20px;
    visibility: hidden;
    position: absolute;
    width: 200px;
    background-color: rgb(222, 229, 238);
    opacity: 0;
    transition: 0.3s;
}

.navBarUl li:hover .menuDesplegable {
    visibility: visible;
    opacity: 1;
}

.navBarUl li,
.navBarUl a {
    position: relative;
}

.navBarUl a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navBarUl a:hover:after {
    width: 100%;
    left: 0;
}

.active {
    color: red;
}

.off {
    color: black;
}

/*-------------- fin de navegacion -------------*/

.galeriaGrid {
    width: 800px;
    padding-top: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    animation: fadeIn 1s forwards;
    /* border: 1px solid red; */
}


/*------------- find de galeria -------------*/
.c-contacto {
    position: relative;
    animation: fadeIn 1s forwards;
    z-index: -20;
}

.tituloContacto {
    display: flex;
    justify-content: center;
}

.contactoTargeta {
    display: flex;
    margin: auto;
    width: 800px;
}

.contactoFormulario {
    padding-top: 150px;
}

.contactoForm input {
    height: 40px;
    margin: 5px;
}

.contactoForm textarea {
    margin: 5px;
}

.contactoForm div {
    margin: 5px;
    display: flex;
    justify-content: center;
}

.contactoForm div button {
    width: 80px;
    height: 40px;
    background-color: rgb(222, 229, 238);
}

/*--------- fin pagina de contacto ----------*/

.productosContenedor {
    width: 800px;
    display: block;
    margin: auto;
    padding-bottom: 40px;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 2px;
    position: relative;
    animation: fadeIn 1s forwards;
    z-index: -20;
}

.productosContenedor img {
    display: block;
    margin: auto;
    padding: 20px;
}

.productosContenedorInicio {
    background-color: rgb(222, 229, 238);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
}

.productosContenedorInicio h2 {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

/*------------ fin pagina productos -----------*/

.contenedorInicio {
    width: 800px;
    margin: auto;
    position: relative;
    z-index: -20px;
    animation: fadeIn 1s forwards;

}

.inicioLogo {
    /* border: 1px solid red; */
    width: fit-content;
    margin: auto;
}

.mySwiper2 {
    width: 300px;
}

.mySwiper {
    width: 600px;
}

.imgSwiperGaleria {
    display: block;
    margin: auto;
}

/*---------------- fin pagina inicio ----------------*/
.contenedorHistoria {
    width: 800px;
    margin: auto;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 2px;
    position: relative;
    z-index: -20px;
    animation: fadeIn 1s forwards;
    overflow: hidden;
}

.contenedorHistoria article section {
    padding: 20px 0;
}

.contenedorHistoria article section p {
    padding: 5px 0;
}

.tituloPrincipalHistoria {
    /* border: 1px solid red; */
    width: fit-content;
    display: block;
    margin: auto;
}

.floatHistoria {
    float: right;
    width: 220px;
    border: 5px solid rgb(187, 203, 223);
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.79);
    margin: 10px;
}

/*---------------- fin de pagina historia ----------------*/
.contenedorElaboracion {
    width: 800px;
    margin: auto;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 2px;
    position: relative;
    animation: fadeIn 1s forwards;
    z-index: -20;
}

.contenedorElaboracion article section {
    padding: 20px 0;
}

.contenedorElaboracion article section p {
    padding: 5px 0;
}

.tituloPrincipalElaboracion {
    background-color: rgb(222, 229, 238);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    /* padding: 20px; */
    margin: auto;
    margin-bottom: 30px;
}

.tituloPrincipalElaboracion p {
    text-align: center;
}

/*------------ fin de pagina Elaboracion -------------*/
.contenedorYogurtPage {
    width: 800px;
    margin: auto;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 2px;
    position: relative;
    animation: fadeIn 1s forwards;
    z-index: -20;
}

.contenedorYogurtPage article p {
    padding: 10px 0;
}

.divUlYogurtPage {
    background-color: rgb(222, 229, 238);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
}

.divUlYogurtPage li {
    font-size: 15px;
    padding: 5px 0;
}

/*------------- fin pagina yogurt ------------*/
.contenedorActividadesAgricolas {
    width: 800px;
    margin: auto;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 2px;
    position: relative;
    animation: fadeIn 1s forwards;
    z-index: -20;
}

.contenedorActividadesAgricolas h1 {
    display: block;
    margin: auto;
    width: fit-content;
    background-color: rgb(222, 229, 238);
    border-radius: 20px;
    padding: 10px;
}

.contenedorActividadesAgricolas section {
    padding: 20px 0;
}

.contenedorActividadesAgricolas section p {
    padding: 5px 0;
}

/*------------ fin pagina actividades agricolas ------------*/
.c-proyectos {
    width: 800px;
    margin: auto;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 2px;
    position: relative;
    animation: fadeIn 1s forwards;
    z-index: -20;
}

.c-proyectos section {
    padding: 15px 0;
}

.c-proyectos section p {
    padding: 10px 0;
}

/*--------------- fin pagina proyectos --------------*/
.c-proyectoYfuturo {
    width: 800px;
    margin: auto;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 2px;
    position: relative;
    animation: fadeIn 1s forwards;
    z-index: -20;
}

.c-proyectoYfuturo p {
    padding: 10px 0;
}

.divUl-pyf {
    background-color: rgb(222, 229, 238);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
}

.divUl-pyf li {
    /* font-size: 15px; */
    padding: 5px 0;
}

/* ----- */
.modal-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 229, 238, 0.5);
    overflow: scroll;
    position: absolute;
    z-index: 2002;
    top: 84px;
    left: 0;
    width: 100vw;
    height: 90vh;
    /* border: 1px solid red; */
}